@(user: Option[models.User], candidates : Option[List[String]] , id : Option[String])(implicit request: RequestHeader, messages: Messages)


@import helper._
@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@election.vote(user) {




  <div class="container">
        <div class="col-md-3"></div>
        <div class="centered col-md-6 centered" id="candidateDiv">


          <p>Candidate List:</p>
  @for(candidate <- candidates.get){
            <div class="col-md-12 scored centered">
            <div class="col-md-4">
              <label class="scored" for="sel1">@candidate</label>
            </div>
            <div class="col-md-8">
              <div class="range-slider">
                <input class="range-slider__range" name=@candidate type="range" value="5" min="0" max="10">
                <span class="range-slider__value">0</span>
              </div>
            </div>
        </div>


      }



  </div>
  </div>
  <script type='text/javascript' src='@routes.Assets.at("/javascripts/scored.js")'> </script>


  <div class="container text-center">
    <p>
      <b>Instructions</b>: Double check your ballot. Then click the "Vote!" button to cast your vote.
    </p>
    @b3.form(CSRF(routes.ElectionController.vote())) {
    <div class="text-center bottomm10">
      <input type="hidden" class="form-control" name="ballotinput" id="ballotinput">
      <input name="email" value="" type="hidden">
      <input name="id" value=@id type="hidden">
      <input name="code" value="" type="hidden">
      <button class="btn btn-lg btn-success" id="enter-vote-btn" type="submit" name="submit" value="Vote!">
                    <span class="glyphicon glyphicon-ok"></span>
                    Vote!</button>
    </div>
  }
  </div>
</form>

}
