@(user: Option[models.User])(implicit request: RequestHeader, messages: Messages)


@import helper._
@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default


@algo = @{
    Seq("EVACS" -> "EVACS", "Simple" -> "Simple" ,"Egalitarian" -> "Egalitarian", "Majority" -> "Majority" ,"Borda" -> "Borda", "Approval" -> "Approval" ,"Nanson" -> "Nanson", "Kemeny-Young" -> "Kemeny-Young" )
}
@result = @{
    Seq("false" -> "False", "true" -> "True")
}

@main(Messages("home.title"), user) {

    <div class="container centered">
        <div class="well">
            <h1>Create a new election</h1>
        </div>
    </div>
    <div class="container">
      <div class="container">
<div class="stepwizard">
    <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
            <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
            <p>Step 1</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
            <p>Step 2</p>
        </div>
        <div class="stepwizard-step">
            <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
            <p>Step 3</p>
        </div>
    </div>
</div>

                      @b3.form(CSRF(routes.ElectionController.create())) {
                        <div class="row setup-content" id="step-1">
        <div class="col-xs-12">
            <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Election Name</label>
                  <input type="text" class="form-control" name="name" placeholder="Election Name" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Description</label>
                  <input type="text" class="form-control" name="description" placeholder="Description" required>
                </div>

                @if(user == None) {
                <div class="form-group">
                  <label for="exampleInputEmail1">Creator Name</label>
                  <input type="text" class="form-control" name="creatorName" placeholder="Creator name" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Creator Email</label>
                  <input type="text" class="form-control" name="creatorEmail" placeholder="Creator email" required>
                </div>
              }else{
                <div class="form-group">
                  <label for="exampleInputEmail1">Voting Preference</label>
                  <select class="selectpicker form-control" name="isPublic">
                    <option value="false">False</option>
                    <option value="true">True</option>
                  </select>

                </div>
              }
                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-2">
        <div class="col-xs-12">
            <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Candidates</label>
                   <input type="text" class="form-control taginput" name="candidates" data-role="tagsinput" required />
                </div>

                  @if(user == None) {
                <div class="form-group">
                  <label for="exampleInputEmail1">Voting Preference</label>
                  <select class="selectpicker form-control" name="isPublic">
                    <option value="false">False</option>
                    <option value="true">True</option>
                  </select>

                </div>
              }
                <div class="form-group">
                  <label class="control-label" for="date">Start</label>
                  <input class="form-control" id="date" name="start" placeholder="MM/DD/YYY" type="text"/>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">End</label>
                  <input class="form-control" id="date" name="end" placeholder="MM/DD/YYY" type="text"/>
                </div>
                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-3">
        <div class="col-xs-12">
            <div class="col-md-12">
                <div class="form-group">

                    <label for="exampleInputEmail1">Invite Voters</label>
                    <select class="selectpicker form-control" name="isInvite">
                      <option value="false">False</option>
                      <option value="true">True</option>
                    </select>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Realtime Result</label>
                  <select class="selectpicker form-control" name="realtimeResult">
                    <option value="false">False</option>
                    <option value="true">True</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Voting Algorithm</label>
                  <select class="selectpicker form-control" name="votingAlgo">
                    <option value="EVACS">EVACS</option>
                    <option value="Simple">Simple</option>
                    <option value="Egalitarian">Egalitarian</option>

                    <option value="Majority">Majority</option>

                    <option value="Borda">Borda</option>

                    <option value="Approval">Approval</option>


                    <option value="Nanson">Nanson</option>


                    <option value="Kemeny-Young">Kemeny-Young</option>


                  </select>

                  @if(user != None) {
                <input type="hidden" class="form-control" name="creatorEmail" value=@user.get.email>
                <input type="hidden" class="form-control" name="creatorName" value=@user.get.name>
              }
                </div>
                <button class="btn btn-success btn-lg pull-right" type="submit">Finish!</button>
            </div>
        </div>
    </div>

                    }
                </div>
            </section>
           </div>
        </div>

        <br>
        <br>
        <br>
        <br>


        <script type='text/javascript' src='@routes.Assets.at("/javascripts/addElection.js")'> </script>


    </div>
}
