@(user: Option[models.User])(implicit request: RequestHeader, messages: Messages)

@main(Messages("home.title"), user) {
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-12">
                    <img src='@routes.Assets.at("/images/rsz_ragora1.png")' alt="">
                    <h1>Welcome To <b>Agora</b></h1>
                    <h3>Cloud-based Elections </h3>
                    <br>
                </div>
            </div>
        </div> <!--/ .container -->
    </div>
        <!--/ #headerwrap -->


        <!-- INTRO WRAP -->
    <div id="intro">
        <div class="container">
            <div class="row centered">
                <h1>Designed To Excel</h1>
                <br>
                <br>
                <div class="col-lg-4">
                    <img src='@routes.Assets.at("/images/open-source.png")' alt="">
                    <h3>Open Source</h3>
                    <p>Community driven, globally supported.</p>
                    <p></p>
                </div>
                <div class="col-lg-4">
                    <img src='@routes.Assets.at("/images/intro02.png")' alt="">
                    <h3>Schedule</h3>
                    <p>Shedule your elections </p>
                </div>
                <div class="col-lg-4">
                    <img src='@routes.Assets.at("/images/intro03.png")' alt="">
                    <h3>Monitoring</h3>
                    <p>Monitor Your Elections </p>
                </div>
            </div>
            <br>
        </div> <!--/ .container -->
    </div>
        <!--/ #introwrap -->


    <div id="c">
        <div class="container">
            <p>Copyright ©AOSSIE 2017</p>

        </div>
    </div>
    </body>
    </html>
}
